<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1</string>
		<key>desc</key>
		<string>苹果iPhone 6s的广告语是否涉嫌虚假宣传？原告认为“唯一的不同，是处处都不同”这样的绝对性用语，已经违反广告法的规定，</string>
	</dict>
	<dict/>
	<string>2</string>
	<string>果iPhone 6s的广告中提到手机中有某项功能，但实际上并没有，那广告涉嫌虚假宣传。针对目</string>
</array>
</plist>
