<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quartz2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Tabbar控制器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Tabbar控制器storyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UIWindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>modal跳转（storyboard）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>modal跳转（代码）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>事件传递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>存档.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>导航控件器跳转.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>导航控制器连线.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>手动创建TabBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>手势Touch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>手势识别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>抽屉效果.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>拖拽事件.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>控制器创建.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>用键盘注册.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>画文字和图片.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>画线.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>画饼图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>级联菜单.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>自定义控制器切换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>进度条.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>雪花飘.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>180E85F11C4A72E40049FE21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180E860F1C4A7F320049FE21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18174C2E1C4A8B32005EC6EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18174C6C1C4B3732005EC6EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18174C8A1C4BB848005EC6EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1820C8011C4F7AC700E9B8C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822C1851C5414EF007957BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822C1A01C5414EF007957BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822C23B1C54B59B007957BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822C2561C54BA21007957BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822C2741C54C7D9007957BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822C2931C54D07F007957BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822C2C51C55FC29007957BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822C2E01C56245C007957BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1874017A1C6B3A36004C3F0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187401A31C6B62F3004C3F0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187788AE1C61E61500DD18B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187788C91C61EFE000DD18B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187788E41C61FBFD00DD18B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CC4FC01C56531C00C11F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CC4FE11C57148300C11F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CC4FFF1C57242D00C11F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CC501D1C5771FF00C11F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CC503B1C578EE900C11F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
