<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>autoResizing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>autolayou4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>autolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>autolayout1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>autolayout2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>autolayout3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>autolayout动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>autolayout微博.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>masontry使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>屏幕适配.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1803F2D41C238A95005E4B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1803F2EF1C238F1F005E4B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1803F30A1C23B19D005E4B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18049AB01C22F91600DECE0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180E11901C23FFC100816B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180E11AB1C240A8900816B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180E11C61C24380B00816B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1810C2161C24ED9600D9D9F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188E8ADE1C25027500C955B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188E8B1C1C25379C00C955B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
